// Colors
$background-color: #EFF6FF;
$base-color: #2A4A5C;
$facebook-color: #255A9B;
$linkedin-color: #0076B6;
$element-color: #3698FB;
$darkgray-color: #7B8A92;
$gray-color: #96A5B1;
$lightgray-color: #AFAFAF;
$light-color: #EEEEEE;